* {
 margin: 0;
 padding: 0;
}

nav {
 ul {
  @include box-flex(row, space-around);
  list-style: none;

  li {
   width: 20%;

   a {
    display: block;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    color: $color-font;
    font-family: arial;
    text-transform: uppercase;

    &:hover {
     background-color: red;
    }
   }
  }
 }
}