* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right top, yellow, red, green);
}

#narrator {
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: calc(100vw - 60px);
    padding: 25px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font: 1rem Verdana, Geneva;
}

h4 {
    font-family: inherit;
    margin-bottom: 10px;
}

#textarea {
    display: block;
    height: 10rem;
    padding: 10px;
    color: black;
    font: inherit;
}

.options {
    display: grid;
    grid-template-columns: 80px, auto;
    gap: 10px;
    padding: 20px 0;
    color: white;
}

#voice, option {
    font-size: 0.87rem;
    color: black;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

button {
    padding: 10px;
    color: #FFF;
    background-color: #0009;
    font: inherit;
}