* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
  }

  .container {
    width: 500px;
    max-width: 70%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
  }